#super {
}

.square1 {
    height: 300px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
}
.square2 {
    height: 150px;
    width: 200px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 408px;
   top: 158px;
}

.square3 {
    height: 150px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 308px;
}

.square4 {
    height: 300px;
    width: 100px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 308px;
}

.square5 {
    height: 300px;
    width: 100px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 608px;
}

.square6 {
    height: 100px;
    width: 200px;
    
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708;
}

.square7 {
    height: 150px;
    width: 200px;
    
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
}

.square8 {
    height: 75px;
    width: 200px;
    position: absolute;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
   top: 161px;
}

.square9 {
    height: 75px;
    width: 200px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
   top: 236px;
}

.square10 {
    height: 300px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 908px;
}

.square11 {
    height: 250px;
    width: 250px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 928px;
   top: 30px;
   border-radius: 100%;

}

.square12 {
    height: 150px;
    width: 150px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 978px;
   top: 80px;
   border-radius: 100%;
}

.square13 {
    height: 300px;
   width: 600px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 8px;
}

.square14 {
    height: 150px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 8px;
}

.square15 {
    height: 150px;
   width: 600px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 750px;
    left: 8px;
}

.square16 {
    height: 150px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 308px;
}

.square17 {
    height: 600px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 608px;
}
.square18 {
    height: 500px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 908px;
}

.square19 {
    height: 500px;
   width: 150px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 1208px;
}

.square20 {
    height: 100px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px #222, -60px -60px 150px 0 #222 inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 800px;
    left: 908px;
}
