#super {
}

.square1 {
    height: 300px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px rgb(158, 45, 45), -60px -60px 150px 0 rgb(106, 153, 180) inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
}
.square2 {
    height: 150px;
    width: 200px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px rgb(107, 36, 69), -60px -60px 150px 0 rgb(85, 48, 54) inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 408px;
   top: 158px;
}

.square3 {
    height: 150px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px rgb(228, 214, 18), -60px -60px 150px 0 rgb(114, 87, 163) inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 308px;
}

.square4 {
    height: 300px;
    width: 100px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px rgb(36, 245, 182), -60px -60px 150px 0 green inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 308px;
}

.square5 {
    height: 300px;
    width: 100px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px rgba(174, 25, 211, 0.712), -60px -60px 150px 0 #333333 inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 608px;
}

.square6 {
    height: 100px;
    width: 200px;
    
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px pink, -60px -60px 150px 0 blueviolet inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708;
}

.square7 {
    height: 150px;
    width: 200px;
    
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px purple, -60px -60px 150px 0 peru inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
}

.square8 {
    height: 75px;
    width: 200px;
    position: absolute;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px gold, -60px -60px 150px 0 black inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
   top: 161px;
}

.square9 {
    height: 75px;
    width: 200px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px grey, -60px -60px 150px 0 green inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 708px;
   top: 236px;
}

.square10 {
    height: 300px;
    width: 300px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px #bbb], -60px -60px 150px 0 magenta inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 908px;
}

.square11 {
    height: 250px;
    width: 250px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px  mediumspringgreen, -60px -60px 150px 0 white inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 928px;
   top: 30px;
   border-radius: 100%;

}

.square12 {
    height: 150px;
    width: 150px;
    background: #AAA;
    /* margin: 100px auto; */
    /* border-radius: 100%; */
    box-shadow: 30px 30px 100px 10px silver, -60px -60px 150px 0 brown inset;
    transition: all 100ms linear;

  /* margin-block-end: 5px; */
   display: inline-block;
   position: absolute;
   left: 978px;
   top: 80px;
   border-radius: 100%;
}

.square13 {
    height: 300px;
   width: 600px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px burlywood, -60px -60px 150px 0 hotpink inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 8px;
}

.square14 {
    height: 150px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px honeydew, -60px -60px 150px 0 red inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 8px;
}

.square15 {
    height: 150px;
   width: 600px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px firebrick, -60px -60px 150px 0 forestgreen inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 750px;
    left: 8px;
}

.square16 {
    height: 150px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px indigo, -60px -60px 150px 0 ivory inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 308px;
}

.square17 {
    height: 600px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px indianred, -60px -60px 150px 0 yellow inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 608px;
}
.square18 {
    height: 500px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px greenyellow, -60px -60px 150px 0 brown inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 908px;
}

.square19 {
    height: 500px;
   width: 150px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px blue, -60px -60px 150px 0 blueviolet inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 1208px;
}

.square20 {
    height: 100px;
   width: 300px;
   background: #AAA;
   /* margin: 100px auto; */
   /* border-radius: 100%; */
   box-shadow: 30px 30px 100px 10px lightblue, -60px -60px 150px 0 lightcoral inset;
   transition: all 100ms linear;

   margin-block-end: 5px;
    display: inline-block;
    position: absolute;
    top: 800px;
    left: 908px;
}


.square1:hover {
    background-color: #fba;
 }
  .square2:hover {
    background-color: black;
 }
  .square3:hover {
    background-color: rgb(235, 110, 137);
 }
  .square4:hover {
    background-color: hotpink;
 }
  .square5:hover {
    background-color: rgb(187, 226, 13);
 }
  .square6:hover {
    background-color: rgb(0, 217, 255);
 }
  .square7:hover {
    background-color: rgb(255, 136, 0);
 }
  .square8:hover {
    background-color: rgb(255, 0, 64);
 }
  .square9:hover {
    background-color: rgb(0, 255, 76);
 }
  .square10:hover {
    background-color: purple;
 }
  .square11:hover {
    background-color: rgb(3, 75, 104);
 }
  .square12:hover {
    background-color: green;
 }
  .square13:hover {
    background-color: rgb(255, 0, 21);
 }
  .square14:hover {
    background-color: rgb(133, 135, 236);
 }
  .square15:hover {
    background-color: rgb(174, 0, 255);
 }
  .square16:hover {
    background-color: rgb(116, 197, 129);
 } 
 .square17:hover {
     background-color: pink;
 }
 .square18:hover {
     background-color: gold;
 }
 .square:hover {
     background-color: aquamarine;
 }